@model IEnumerable<JunShopVN.Models.Package>
@using JunShopVN.Models;
@{
    Layout = null;
}
@Html.Raw(TempData["msg"])
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Chọn gói nạp</title>
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/Content/small-business.css" rel="stylesheet">
</head>
<body>
    @if (Session["username"] == null)
    {
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="@Url.Action("Index", "Customer")"><img class="img-logo" src="~/Images/Asset-5.png" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="@Url.Action("Index", "Customer")">
                                Trang chủ
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Login", "Login")">Đăng nhập</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    }
    else
    {
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="@Url.Action("Index", "Customer")"><img class="img-logo" src="~/Images/Asset-5.png" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="@Url.Action("Index", "Customer")">
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            @{
                                string username = Session["username"].ToString();
                                using (JShopVNEntities db = new JShopVNEntities())
                                {
                                    <a class="nav-link" href="@Url.Action("viewProfile", "Login", new { id = db.Users.Where(y => y.accid == db.Accounts.Where(x => x.username.Equals(username)).FirstOrDefault().id).FirstOrDefault().id })">Thông tin cá nhân</a>
                                }
                            }
                        </li>
                        <li class="nav-item">
                            @{
                                using (JShopVNEntities db = new JShopVNEntities())
                                {
                                    <a class="nav-link" href="@Url.Action("ListCart", "Customer", new { id = db.Users.Where(y => y.accid == db.Accounts.Where(x => x.username.Equals(username)).FirstOrDefault().id).FirstOrDefault().id })">Xem giỏ hàng</a>
                                }
                            }
                        </li>
                        <li class="nav-item">
                            @{
                                using (JShopVNEntities db = new JShopVNEntities())
                                {
                                    <a class="nav-link" href="@Url.Action("ListOrder", "Customer", new { id = db.Users.Where(y => y.accid == db.Accounts.Where(x => x.username.Equals(username)).FirstOrDefault().id).FirstOrDefault().id })">Xem giỏ hàng</a>
                                }
                            }
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Logout", "Login")">Log Out</a>
                        </li>
                        <li class="nav-item">

                            @{
                                using (JShopVNEntities db = new JShopVNEntities())
                                {
                                    <span class="nav-link">Tài khoản còn dư: @String.Format("{0:n0}", db.Users.Where(x => x.accid == db.Accounts.Where(y => y.username.Equals(username)).FirstOrDefault().id).FirstOrDefault().balance) VND</span>
                                }
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    }
    <div class="container">
        <!-- Content Row -->
        <div class="row">
            @foreach (var item in Model)
            {
                using (JShopVNEntities db = new JShopVNEntities())
                {
                    <div class="col-md-4 mb-5">
                        <div class="card h-100">
                            <div class="card-body">
                                <h2 class="card-title">@item.name</h2>
                                <img class="img-fluid" src="@Url.Content("~/Images/" + db.Games.Where(x => x.id == item.gameid).FirstOrDefault().image)" />
                            </div>

                            <div class="card-footer">
                                <div class="ft-con">
                                    <a href="@Url.Action("AddCart", "Customer", new { id = item.id})" class="btn btn-primary btn-sm">Thêm vào giỏ hàng</a>
                                    <span class="badge badge-danger" style="margin-left: 3em;">@String.Format("{0:n0}", item.price) VND</span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <!-- /.row -->

    </div>
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
